################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/PongSFML/v16

/.Debug/
/.Release/

*.pdb
*.sln
*.vcxproj
*.filters
*.user
